
.gallerycontent{
    width: 100%;
    height: 100%;
}
.imgtilecomponent{
    width: 500px;
    /* height: 400px; */
    float: left;
    margin-top: 60px;
    margin-left:60px;
    box-shadow: 10px 5px 15px 3px grey;
}
.imgtilecomponent:hover img{
    transform: scale(1.1,1.1 );
     
}