body{
     
    background-color:rgba(231, 216, 216,0.5);
}
.log{
    margin: 50px 320px;
    height:60vh;
    width: 40vw;
    border: 2px solid black;
    background-color:aqua;
}
.log p{
    margin-left: 175px;
    font-size: 50px;
}
.log img{
    height: 60px;
}
.input{
    margin-left: 175px;
    /* border: 2px solid red; */
    border-radius: 60px;
    padding: 10px;
    font-size: 10px;
}
button{
    margin-top: 50px;
    margin-left: 120px;
    background-color: green;
    /* align-items: center;
    justify-content: center; */
    height: 30px;
    width: 100px;
}
.forgot{
    margin-top: 10px;
    margin-left: -500px;
    
}
span{
    /* align-items: center; */
    margin-left: -1175px;
    color: white;
}
span a{
    color: brown;
}